html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

:root {
  --dark-blue-color: #081580;
  --black-color: #010101;
  --blue-color: #00b6dd;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--black-color);
}

h1,
h2,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/flowers.jpg);
  height: 396px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1199px) {
  .header {
    height: 340px;
    background-size: 1930px;
    background-position: left top;
  }
}
@media screen and (max-width: 991px) {
  .header {
    height: 276px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    height: 236px;
  }
}
@media screen and (max-width: 575px) {
  .header {
    height: 274px;
  }
}
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.6);
  z-index: 0;
}

.title {
  font-weight: 700;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  width: 750px;
  z-index: 1;
}
@media screen and (max-width: 1199px) {
  .title {
    font-size: 54px;
    line-height: 111%;
    width: 617px;
  }
}
@media screen and (max-width: 991px) {
  .title {
    font-size: 46px;
    line-height: 104%;
    width: 470px;
  }
}
@media screen and (max-width: 767px) {
  .title {
    width: 450px;
  }
}
@media screen and (max-width: 575px) {
  .title {
    width: 290px;
  }
}

.section-items,
.section-slider,
.section-call {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
@media screen and (max-width: 1199px) {
  .section-items,
  .section-slider,
  .section-call {
    margin-top: 80px;
  }
}
@media screen and (max-width: 991px) {
  .section-items,
  .section-slider,
  .section-call {
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .section-items,
  .section-slider,
  .section-call {
    margin-top: 50px;
  }
}
@media screen and (max-width: 575px) {
  .section-items,
  .section-slider,
  .section-call {
    margin-top: 50px;
  }
}
.section-items__button,
.section-slider__button,
.section-call__button {
  border: 2px solid var(--blue-color);
  width: 160px;
  height: 40px;
  background: var(--blue-color);
  font-size: 13px;
  line-height: 154%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}
@media (hover: hover) {
  .section-items__button:hover,
  .section-slider__button:hover,
  .section-call__button:hover {
    background: #ff779a;
  }
}
@media (hover: none) {
  .section-items__button:active,
  .section-slider__button:active,
  .section-call__button:active {
    background: #ff779a;
  }
}
@media (hover: hover) {
  .section-items__button:active,
  .section-slider__button:active,
  .section-call__button:active {
    background: #e43d67;
  }
}
@media screen and (max-width: 991px) {
  .section-items__button,
  .section-slider__button,
  .section-call__button {
    width: 140px;
    height: 36px;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.07em;
  }
}

.container {
  width: 1140px;
}
@media screen and (max-width: 1199px) {
  .container {
    width: 940px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 546px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    width: 290px;
  }
}

.section-items__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .section-items__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .section-items__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.section-items__item,
.section-slider__item {
  position: relative;
  width: 360px;
  height: 500px;
  padding: 30px;
  border: 1px solid #d3d8e4;
}
@media screen and (max-width: 1199px) {
  .section-items__item,
  .section-slider__item {
    width: 455px;
    height: 470px;
  }
}
@media screen and (max-width: 991px) {
  .section-items__item,
  .section-slider__item {
    width: 345px;
    height: 440px;
    padding: 28px;
  }
}
@media screen and (max-width: 767px) {
  .section-items__item,
  .section-slider__item {
    width: 258px;
    height: 448px;
    padding: 16px;
  }
}
@media screen and (max-width: 575px) {
  .section-items__item,
  .section-slider__item {
    width: 290px;
    height: 448px;
  }
}
.section-items__category,
.section-slider__category {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-color);
  height: 36px;
  padding: 0 15px 0 16px;
  top: 12px;
  left: 0;
}
@media screen and (max-width: 1199px) {
  .section-items__category,
  .section-slider__category {
    padding: 0 15px;
  }
}
@media screen and (max-width: 991px) {
  .section-items__category,
  .section-slider__category {
    padding: 0 14px;
    height: 32px;
  }
}
@media screen and (max-width: 767px) {
  .section-items__category,
  .section-slider__category {
    top: 0;
  }
}
.section-items__category-p,
.section-slider__category-p {
  font-size: 13px;
  line-height: 169%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .section-items__category-p,
  .section-slider__category-p {
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.08em;
  }
}
.section-items__text,
.section-slider__text {
  margin-top: 20px;
}
@media screen and (max-width: 991px) {
  .section-items__text,
  .section-slider__text {
    margin-top: 18px;
  }
}
@media screen and (max-width: 767px) {
  .section-items__text,
  .section-slider__text {
    margin-top: 12px;
  }
}
.section-items__author,
.section-slider__author {
  font-size: 13px;
  line-height: 154%;
  letter-spacing: 0.06em;
  color: var(--blue-color);
}
@media screen and (max-width: 991px) {
  .section-items__author,
  .section-slider__author {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.07em;
  }
}
.section-items__h2,
.section-slider__h2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 136%;
  letter-spacing: 0.05em;
  margin-top: 6px;
}
@media screen and (max-width: 1199px) {
  .section-items__h2,
  .section-slider__h2 {
    font-size: 20px;
    line-height: 140%;
  }
}
@media screen and (max-width: 991px) {
  .section-items__h2,
  .section-slider__h2 {
    font-size: 18px;
    line-height: 144%;
  }
}
.section-items__p,
.section-slider__p {
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.05em;
  margin-top: 16px;
}
@media screen and (max-width: 991px) {
  .section-items__p,
  .section-slider__p {
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.04em;
    margin-top: 12px;
  }
}
@media screen and (max-width: 767px) {
  .section-items__p,
  .section-slider__p {
    margin-top: 10px;
  }
}
.section-items__button,
.section-slider__button {
  position: absolute;
  bottom: 30px;
}
@media screen and (max-width: 991px) {
  .section-items__button,
  .section-slider__button {
    bottom: 28px;
  }
}
@media screen and (max-width: 767px) {
  .section-items__button,
  .section-slider__button {
    bottom: 20px;
  }
}
.section-items__img,
.section-slider__img {
  width: 300px;
  height: 170px;
  background: #d3d8e4;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1199px) {
  .section-items__img,
  .section-slider__img {
    width: 395px;
  }
}
@media screen and (max-width: 991px) {
  .section-items__img,
  .section-slider__img {
    width: 289px;
    height: 150px;
  }
}
@media screen and (max-width: 767px) {
  .section-items__img,
  .section-slider__img {
    width: 226px;
    height: 140px;
  }
}
@media screen and (max-width: 575px) {
  .section-items__img,
  .section-slider__img {
    width: 258px;
  }
}

.dark-blue-bg {
  background-color: var(--dark-blue-color);
}

.dark-blue-color {
  color: var(--dark-blue-color);
}

.dark-blue-button {
  border: 2px solid var(--dark-blue-color);
  background-color: var(--dark-blue-color);
}

.pink-bg {
  background: #ff779a;
}

.blue-bg {
  background: var(--blue-color);
}

.section-items__img {
  -o-object-position: left top;
     object-position: left top;
}

.img-flowers {
  -o-object-position: center;
     object-position: center;
}

.section-call {
  background-color: var(--black-color);
  padding: 100px 0;
}
@media screen and (max-width: 1199px) {
  .section-call {
    padding: 80px 0;
  }
}
@media screen and (max-width: 991px) {
  .section-call {
    padding: 70px 0;
  }
}
@media screen and (max-width: 767px) {
  .section-call {
    padding: 60px 0;
  }
}
@media screen and (max-width: 575px) {
  .section-call {
    padding: 50px 0;
  }
}
.section-call__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: end;
}
@media screen and (max-width: 991px) {
  .section-call__container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 40px;
  }
}
@media screen and (max-width: 575px) {
  .section-call__container {
    gap: 30px;
  }
}
@media screen and (max-width: 991px) {
  .section-call__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.section-call__h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: var(--blue-color);
}
@media screen and (max-width: 1199px) {
  .section-call__h1 {
    font-size: 54px;
    line-height: 111%;
  }
}
@media screen and (max-width: 991px) {
  .section-call__h1 {
    font-size: 46px;
    line-height: 104%;
    text-align: center;
    width: 595px;
  }
}
@media screen and (max-width: 767px) {
  .section-call__h1 {
    width: 450px;
  }
}
@media screen and (max-width: 575px) {
  .section-call__h1 {
    width: 290px;
  }
}
.section-call__p {
  font-size: 22px;
  line-height: 136%;
  letter-spacing: 0.05em;
  color: #fff;
  margin-top: 22px;
}
@media screen and (max-width: 1199px) {
  .section-call__p {
    font-size: 20px;
    line-height: 140%;
    margin-top: 20px;
    width: 450px;
  }
}
@media screen and (max-width: 991px) {
  .section-call__p {
    font-size: 18px;
    line-height: 144%;
    text-align: center;
    width: 595px;
    margin-top: 14px;
  }
}
@media screen and (max-width: 767px) {
  .section-call__p {
    width: 450px;
  }
}
@media screen and (max-width: 575px) {
  .section-call__p {
    width: 290px;
  }
}
.section-call__buttons {
  margin-top: 40px;
}
@media screen and (max-width: 1199px) {
  .section-call__buttons {
    margin-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  .section-call__buttons {
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .section-call__buttons {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1199px) {
  .section-call__button {
    width: 150px;
  }
}
@media screen and (max-width: 991px) {
  .section-call__button {
    width: 140px;
  }
}
@media screen and (max-width: 575px) {
  .section-call__button {
    width: 290px;
  }
}
.section-call__button--black {
  background: none;
  margin-left: 16px;
}
@media screen and (max-width: 575px) {
  .section-call__button--black {
    margin: 16px 0 0;
  }
}
.section-call__img {
  width: 458px;
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
@media screen and (max-width: 1199px) {
  .section-call__img {
    width: 455px;
    height: 332px;
  }
}
@media screen and (max-width: 991px) {
  .section-call__img {
    width: 596px;
    height: 364px;
  }
}
@media screen and (max-width: 767px) {
  .section-call__img {
    width: 450px;
    height: 275px;
  }
}
@media screen and (max-width: 575px) {
  .section-call__img {
    width: 290px;
    height: 146px;
  }
}

.section-slider {
  margin-bottom: 100px;
}
.section-slider__container {
  overflow: hidden;
}
.section-slider__items {
  position: relative;
  display: flex;
  transition: all ease 1s;
}
.section-slider__item {
  margin-right: 30px;
}
.section-slider__buttons {
  margin-top: 40px;
}
@media screen and (max-width: 991px) {
  .section-slider__buttons {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .section-slider__buttons {
    margin-top: 20px;
  }
}
@media screen and (max-width: 575px) {
  .section-slider__buttons {
    text-align: center;
  }
}
.section-slider__button-arrow {
  background-color: transparent;
  border-width: 0;
}
.section-slider__button-arrow:last-child {
  margin-left: 9px;
}
@media screen and (max-width: 767px) {
  .section-slider__button-arrow:last-child {
    margin-left: 2px;
  }
}
@media (hover: hover) {
  .section-slider__button-arrow:hover {
    transform: scale(1.2);
  }
}
@media (hover: none) {
  .section-slider__button-arrow:active {
    transform: scale(1.2);
  }
}
@media (hover: hover) {
  .section-slider__button-arrow:active {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1199px) {
  .section-slider__arrow {
    height: 26px;
  }
}
@media screen and (max-width: 767px) {
  .section-slider__arrow {
    height: 22px;
  }
}
.section-slider__arrow--right {
  transform: scaleX(-1);
}/*# sourceMappingURL=style.css.map */